In [ ]:
import pandas as pd

In [ ]:
df= pd.read_csv('data.csv')

In [ ]:
df.shape

(100, 3)

In [ ]:
df.head()

      F     N  Prprice per square foot
0  0.44  0.68                   511.14
1  0.99  0.23                   717.10
2  0.84  0.29                   607.91
3  0.28  0.45                   270.40
4  0.07  0.83                   289.88

In [ ]:
df.describe()

                F           N  Prprice per square foot
count  100.000000  100.000000               100.000000
mean     0.550300    0.501700               554.214600
std      0.293841    0.307124               347.312796
min      0.010000    0.000000                42.080000
25%      0.300000    0.230000               278.172500
50%      0.570000    0.485000               514.285000
75%      0.822500    0.760000               751.752500
max      1.000000    0.990000              1563.820000

In [ ]:
df["N"].value_counts()

0.23    4
0.62    3
0.69    3
0.40    3
0.64    3
       ..
0.04    1
0.44    1
0.93    1
0.60    1
0.80    1
Name: N, Length: 61, dtype: int64

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scalar=StandardScaler()
scaled=scalar.fit_transform(df)

In [ ]:
df=pd.DataFrame(scaled)

In [ ]:
df.head()

          0         1         2
0 -0.377265  0.583471 -0.124647
1  1.503928 -0.889115  0.471350
2  0.990875 -0.692770  0.155381
3 -0.924521 -0.169184 -0.821290
4 -1.642794  1.074333 -0.764919

In [ ]:
x=df.iloc[:,0:2].values
y=df.iloc[:,-1].values

In [ ]:
#Train Test Split

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,Y_train,Y_test=train_test_split(x,y, test_size=0.2, random_state=7)

In [ ]:
x_train.shape,x_test.shape,Y_train.shape,Y_test.shape

((80, 2), (20, 2), (80,), (20,))

In [ ]:
#Multiple Linear Regression Model

In [ ]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
reg.fit(x_train, Y_train)

LinearRegression()

In [ ]:
y_pred=reg.predict(x_test)

In [ ]:
#1 = 180.38
#2 = 1312.07
#3 = 440.13
#4 = 343.72

In [ ]:
reg.predict([[1.503928,0.889115]])

array([1.58562342])

In [ ]:
reg.predict([[-1.642794,1.074333]])

array([-0.55238493])

In [ ]:
df.isnull().sum()

0    0
1    0
2    0
dtype: int64